<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">Register</div>

    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
      <div class="form-container">
        <mat-form-field>
          <input id="name"
                  matInput
                  formControlName = "name"
                  
                  placeholder="Enter your name" />
        </mat-form-field>
        <mat-form-field>
          <input id="email"
                  matInput
                  formControlName = "email"
                  
                  placeholder="Enter your Email" />
        </mat-form-field>
        <mat-form-field>
          <input id="password"
                  matInput
                  formControlName = "password"
                  
                  placeholder="Enter your password" />
        </mat-form-field>

        <button mat-button type="submit" class="mat-raised-button mat-primary" [disabled]="!registerForm.valid">Register</button>
        <button mat-button routerLink="/login" class="divider">Login</button>
      </div>
    </form>
  </div>
</div>